body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}
h1{
  font-weight: 600 !important;
}
h6 {
  font-size: 1.5em;
  line-height: 1.5;
}

h2{
  color: #8f8f8f !important;
}
input[type="tel"], input[type="text"],
input[type="number"],
strong{
  color: #49233b;
}
button{
  margin-top: 60px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 200px;
}
p, small {
  color: #8f8f8f;
}
.wrapper{
   margin-top: 10%;
}
.container{
  width: 100% !important;
  height: 100% !important;
}
.content-img, .content-text, .content-circle, .content-form-index,  .content-form-registerNumber, .content-form-resendCode, .content-form-createUser, .content-form-success {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-img  .slider-img {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.content-img  .slider-img img {
  display: none;
  width: 550px;
  height: 550px;
}
.content-text h1, .content-text h2 {
  display: none;
}
.content-text h1.active, .content-text h2.active, .content-img  .slider-img img.active {
  display: inline-block;
}

.content-circle .slider-circle > ul li.active {
    background: #cc0033;
    -webkit-transform: scale(1.5);
    transform: scale(1.4);
}
.content-circle .slider-circle > ul li {
    display: inline-block;
    padding: 10px;
    background: #fff;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.content-form-registerNumber #filled-in-box:checked{
  background-color:#00c3a3;
}
